/* 
    - Color
*/
$vsc-backGround: #333333;
$vsc-icon-color: #858585;
$vsc-editor-background: #383838;
$vsc-bottom-background: #007ACC;
$vsc-bottom-hover-background: #1d86d4;
$vsc-explorer-collapse-background: #37373D;
$vsc-explorer-background: #252526;
$vsc-explorer-collapse-border: #ffffff45;
$vsc-editor-background: #1E1E1E;

/*
    - Font Size
*/

$ft16:16px;
$ft18:18px;
$ft24:24px;
$ft35:35px;
$ft45:45px;



