*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.vscContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__main {
    display: flex;;
    justify-content: flex-start;
    flex-grow: 1;
  }
}

@import "./sass/import.scss";
